<!-- <div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h2 class="list-group-item-heading pull-left"><strong>Contacts</strong></h2>
    <a [routerLink]="['new']" class="btn btn-success pull-right">New Contact</a>
  </div>

  <div class="panel-body">
    <div cdkDropList cdkDropListData="contacts">
      <div cdkDrag *ngFor="let contact of contacts" [cdkDragData]="contact">
        <cms-contact-item
          [contact]="contact"
          [routerLink]="[contact.id]"
        ></cms-contact-item>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="row">
          <span class="list-group-item-heading pull-left title pad-left-right"><h2>Contacts</h2></span>
        </div>
        <div class="row">
          <div class="input-group pull-left pad-left-right col-xs-7">
            <input
              type="text"
              class="form-control"
              #searchBox
              (keyup)="search(searchBox.value) "
              placeholder="Enter a search value"
            />
            <div
              class="glyphicon glyphicon-search input-group-addon"
              (click)="search(searchBox.value)"
            ></div>
          </div>
          <div class="pull-right pad-left-right">
            <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div cdkDropList cdkDropListData="contacts">
          <div cdkDrag *ngFor="let contact of contacts | contactsFilter:term" [cdkDragData]="contact">
            <cms-contact-item
              [contact]="contact"
              [routerLink]="[contact.id]"
            ></cms-contact-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
